{% extends "registration/auth_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div id="Login">
  <div class="d-flex justify-content-center mt-5">
    <!-- Alignment -->
    <div class="col-sm-offset-3 col-sm-5 card p-4">

      <!-- Form itself -->
      <form method="POST" action="" class="well">
        {% csrf_token %}
        <legend>UGLMU Project Tracker Login</legend>
        <hr/>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <ul>
            {% for error in form.errors.values %}
            <li>{{ error|striptags }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <!-- Full Name -->
        <div class="form-group">
          <div class="controls">
            <input type="text" class="form-control" name="username"
                   placeholder="User Name" id="username" required
                   data-validation-required-message="Please enter your user name" />
            <p class="help-block"></p>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="password"
                   name="password" id="password" required />
          </div>
        </div>
        <br />
        <div>
          <button type="submit" class="btn btn-primary pull-right">Login</button><br /></p>
        </div>

      </form>
    </div>
  </div>
</div>



{% endblock %}
