
<div class="card mt-3">
    <div class="card-body">

        <div id="project-image-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">

            {% if project.images.count > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">

                {% for img in project.images.all %}
                <li data-bs-target="#project-image-carousel" data-bs-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.first %}class="active"{% endif %}>
                </li>
                {% endfor %}
            </ol>
            {% endif %}

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                {% for img in project.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">

                    <a href="{{ img.image_path.url }}">
                        <img class="d-block w-100"  src="{{ img.image_path.url }}" alt="{{ img.alt_text }}"></a>



                        <p  style="text-align:center">{{ img.caption }}</p>
                            
                            {% if img.report is True %}
                            {% if edit %}
                            <a href="{% url 'project_edit_image' img.id %}" class="btn btn-outline-secondary text-dark btn-sm pull-right"
                               data-bs-toggle="tooltip" title="Included in Annual Report" role="button">
                               <i class="fa fa-check"></i></a>
                            {% else %}

                            <button type="button" class="btn btn-outline-secondary btn-sm pull-right" data-bs-toggle="tooltip" title="Included in Annual Report">
                                <i class="fa fa-check"></i>
                            </button>

                            {% endif %}
                            {% endif %}
                            {% if edit %}
                            <a href="{% url 'project_edit_image' img.id %}" class="pull-right btn btn-outline-secondary btn-sm text-dark"
                               data-bs-toggle="tooltip" title="Change Image Attributes" role="button">
                               <i class="fa fa-pencil"></i></a>
                            {% endif %}
                        
                </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="carousel-control-prev h-75" href="#project-image-carousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next h-75" href="#project-image-carousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        {% if edit %}
        {% if project.images.count > 1 %}
        <a href="{% url 'project_images' project.slug %}" class="mt-1 pull-right btn btn-outline-secondary btn-sm text-dark"
        data-bs-toggle="tooltip" title="Change Image Order" role="button">
            <i class="fa fa-random"></i></a>
        {% endif %}
        {% endif %}
    </div>
</div>
