{% extends "pjtk2/pjtk2_base.html" %}


{% load leaflet_tags %}

{% block extrahead %}


{% leaflet_js plugins="forms" %}
{% leaflet_css plugins="forms" %}


{% endblock %}

{% block title %} Project by Region of Interest {% endblock %}

{% block content %}

<style>

    .leaflet-container {  /* all maps */
        width:  600px;
        height: 600px;
    }

</style>


<div class="container p-4"  id="main-content">
    <div class="d-flex flex-row card p-3">

        {% if form.errors %}
        <div class="alert alert-danger">
            Please fix the errors in the form below.
            {% for error in form.non_field_errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}

            {% if form.selection.errors %}
            {% for error in form.selection.errors %}
            <div class="has-error help-block text-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}

        </div>
        {% endif %}

        <form method="post" id="" action="">{% csrf_token %}
            <div>
                <h1 class="mx-3">
                    <label for="id_selection">Select region of interest on map:</label>
                </h1>
                <a class="btn btn-primary btn-sm mx-3" role="button" data-bs-toggle="collapse" href="#additional-information" aria-expanded="false" aria-controls="additional-information">
                    Click for Instructions....
                </a>
        
                <div class="collapse mx-3 mt-3" id="additional-information">
                    <div class="card">
                        <div class="card-body">
                            <p>
                                Draw a square, circle, or polygon on the map to retrieve
                                all projects within the selected region. Only one region
                                can exist at a time and drawing a new region will replace the
                                previous one. You may also apply filters after a region has
                                been selected, such as Project Type, First Year, and 
                                Last Year to the selected projects.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex p-3">
                    {{ form.selection }}
                    <hr />
                    <div class="mx-5">
                        <div class="card">
                            <div class="card-body">
                                <h4>Select Project Type(s):</h4>
                                <p>(leave blank for all project types)</p>
                                <div class="form-group {% if form.project_types.errors %}has-error{% endif %}">
                                    {{ form.project_types.label_tag }}
                                    {{ form.project_types }}
                                    {% if form.project_types.errors %}
                                    {% for error in form.project_types.errors %}
                                    <div class="has-error help-block text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row" >
                                <div>

                                    <div class="form-group {% if form.first_year.errors %}has-error{% endif %} mx-3">
                                        {{ form.first_year.label_tag }}
                                        {{ form.first_year }}
                                        {% if form.first_year.errors %}
                                        {% for error in form.first_year.errors %}
                                        <div class="has-error help-block text-danger">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>



                                </div>
                                <div>
                                    <div class="form-group {% if form.last_year.errors %}has-error{% endif %} mx-3">
                                        {{ form.last_year.label_tag }}
                                        {{ form.last_year }}
                                        {% if form.last_year.errors %}
                                        {% for error in form.last_year.errors %}
                                        <div class="has-error help-block text-danger">{{ error }}</div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" >
                    <div>
                        <button href="{% url 'find_projects_roi' %}" class="btn btn-outline-secondary text-dark">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



{% endblock %}
