<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>  {% block title  %} Project Tracker II  {% endblock %}  </title>

        <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Icons package -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

        {% block extrahead  %} {% endblock %}

        <style type="text/css" media="screen">
         .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
         .navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
         .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
         .navbar,
         .navbar-inverse .navbar-inner {
             filter: none;
             background-image: none;
         }
        </style>


    </head>

    <body>

        <!-- <nav class="navbar navbar-default" role="navigation">
            Brand and toggle get grouped for better mobile display
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'ProjectList' %}">Project Tracker II</a>
            </div> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid mx-2">
                <a class="navbar-brand" href="{% url 'ProjectList' %}">Project Tracker II</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects <b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if user.id %}
                                <li><a class="dropdown-item" href="{% url 'MyProjects' %}">My Projects</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'ProjectList' %}">All Projects</a></li>
                                <li><a class="dropdown-item" href="{% url 'ApprovedProjectsList' %}">Approved Projects</a></li>
                                {% if user.is_active and user.is_authenticated %}
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'NewProject' %}">New Project</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'ApproveProjects' %}">Approve Projects</a></li>
                                {% endif %}

                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search <b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'project_search' %}">By Any Keyword</a></li>
                                <li><a class="dropdown-item" href="{% url 'find_projects_roi' %}">By Region of Interest</a></li>
                                <li><a class="dropdown-item" href="#">By Management Area</a></li>
                                <li><a class="dropdown-item" href="{% url 'project_tag_list' %}">By Defined Keyword</a></li>
                            </ul>
                        </li>

                        {% block navbar_other_apps %}

                        {% endblock %}

                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                                <li><a class="dropdown-item" href="#">Add New Employee</a></li>

                                {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin</a></li>

                                {% endif %}

                            </ul>
                        </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">About <b class="caret"></b></a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'about_view' %}" class="sel">Project Tracker</a></li>
                                <li><a class="dropdown-item" href="{% url 'report_desc_view' %}" class="sel">Report Descriptions</a></li>
                            </ul>
                        </li>



                    </ul>

                    <div class="col-sm-3">
                        <form class="navbar-form navbar-left mx-3 w-100" role="search" action={% url 'project_search' %}>
                            <div class="input-group">
                                <input type="text" class="form-control" name="prj_cd__like" placeholder="Project Code Quick Search">
                                <button class="btn btn-outline-secondary" type="submit" aria-label="Search"><i class="fa fa-search"></i></button>
                            </div><!-- /input-group -->
                        </form>
                    </div>

                    {% if user.is_authenticated %}
                    <div class="navbar-text mx-5">Welcome,
                        {% if user.first_name %}
                        {{ user.first_name }}!
                        {% else %}
                        {{ user.username }}!
                        {% endif %} </div>
                    <div class="navbar-text"><a href="{% url 'logout' %}?next=/">Log out</a> </div>
                    {% else %}
                    <div class="navbar-text mx-5"><a href="{% url 'login' %}">Log in</a> </div>
                    {% endif %}
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>


        {% block content  %}
        {% endblock %}

        {% block extracontent  %}
        {% endblock %}



        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        {% block extrascripts  %}
        {% endblock %}


    </body>
</html>
