{% extends "pjtk2/pjtk2_base.html" %}

{% block title %} Order Project Images  {% endblock %}

{% block content %}

<div  class="container p-4">


    <h2>Images for {{ project.name }}</h2>

    <div class="card">
        <div class="card-header">
            <div  class="row">
                <div  class="col-md-11" >
            <h3 class="card-title">Drag to re-order the images. Double click to edit.</h3>
                </div>
                <div  class="col-md-1" >
                    <a class="btn btn-success pull-right" href="{% url 'project_detail' project.slug %}" role="button">
                         Done</a>
                </div>
            </div>

        </div>
        <div class="card-body">
            <ol id="sortable">
                {% for img in project.images.all %}
                <li id="image_{{ img.pk }}" class="ui-state-default">

                    <div class="card mt-3">
                        <div class="card-body">
                            <a href="{% url 'project_edit_image' img.id %}?next={{ request.path }}">
                                <div class="row" >
                                    <div  class="col-md-3" >
                                        <img src="{{ img.image_path.url }}" width="200"  height="200" class="img-thumbnail"
                                            alt="{{ img.alt_text }}">
                                    </div>
                                    <div  class="col-md-7" >
                                        <p><strong>Caption:</strong></p><p>{{ img.caption }}</p>
                                    </div>
                                    <div  class="col-md-2" >
                                        <strong>Report:</strong>{{ img.report }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>

{% endblock %}


{% block extrascripts %}


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" charset="utf-8">
 // Sortable photos
 $(document).ready(function() {
     $("#sortable").sortable({
         update: function(event, ui) {
             var serial = $('#sortable').sortable('serialize');
             $.ajax({
                 url: "{% url 'project_sort_images' project.slug %}",
                 type: "post",
                 data: serial
             });
         },
     }).disableSelection();
 });


</script>
{% endblock %}
