{% extends "pjtk2/pjtk2_base.html" %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container p-4" >

    <h2> Update Reporting Requirements</h2>
    <hr />

    <h4> {{ project.prj_nm }} ({{ project.prj_cd }})</h4>
    <br />

    <form method="POST" id="reports" action="">
        {% csrf_token %}

        <div class="row" >
            <div class="col-md-4" >
                <div class="card card-default mb-2">
                    <div class="card-header">Project Milestones:</div>
                    <div class="card-body">
                        <div class="col-md-offset-1 ">
                            {{  Milestones|crispy }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-4" >
                    <div class="card card-default mb-2">
                        <div class="card-header">Core Reporting Requirements:</div>
                        <div class="card-body">
                            <div class="col-md-offset-1 ">
                                {{ Core|crispy }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-md-4" >
                        <div class="card card-default">
                            <div class="card-header">Additional Reporting Requirements:</div>
                            <div class="card-body">
                                <div class="col-md-offset-1 ">
                                    {{ Custom|crispy }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr />

        <div class="row" >
            <div class="col-md-offset-1 ">
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <button class="btn btn-primary" type="submit">Save Changes</button>


                <button type="button" class="btn btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#modalMilestone">
                    New Milestone
                </button>
                <button type="button" class="btn btn-outline-secondary text-dark" data-bs-toggle="modal" data-bs-target="#modalReport">
                    New Report
                </button>

            </div>
        </div>

    </form>


    <div class="modal fade" id="modalMilestone">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Milestone</h4>
                    <button id="milestoneButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close window"></button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" method="POST" id="dialog2" name="dialog2" action="">
                        {% csrf_token  %}

                        <div class="row mx-2" >
                            <div class="col-md-10" >
                                <input type="text" name="new_milestone" class="form-control" aria-label="New Milestone"/>
                            </div>
                            <div class="col-md-2" >
                                <input type="submit"  value="Submit" name="Submit" class="btn btn-primary"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="modalReport">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Report</h4>
                    <button id="reportButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close window"></button>
                </div>
                <div class="modal-body">

                    <form method="POST" id="dialog" action="">
                        {% csrf_token  %}

                        <div class="row mx-2" >
                            <div class="col-md-10" >
                                <input type="text" name="new_report" class="form-control" aria-label="New Report"/>
                            </div>
                            <div class="col-md-2" >
                                <input type="submit"  value="Submit" name="Submit" class="btn btn-primary"/>
                            </div>
                        </div>

                    </form>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div> <!-- container -->



{% endblock %}
